<div class="about">
  <h1 class="">ABOUT US</h1>
  <h2>About Our Company</h2>
  <p>Empowers its customers to communicate between varied IT back end systems and mobile phones
    using SMS Services.DAKWALA provides a unique, end-to-end, a clear focus on SMS mobile messaging.
    Reaching group of people on the go used to be difficult if not impossible. Bulk text messaging is
    rapidly becoming the most powerful weapon in the markreting arsenal. It is the only communication
    medium capable of reaching groups of people instantaneously regardless of where they are.
  </p>
    <button class="button"><a href="" class="about-btn">Learn More</a></button>
</div>