<section class="service-area" id="services">
  <h3 class="section-title">Services</h3>
  <div class="service-col">
    <ul class="service-content">
      <li>
        <h4>BULK SMS SERVICE</h4>
       <p class="paragraph-padding">
        ‘Bulk SMS’ or ‘bulk messaging’ refers to businesses sending SMS to one or more recipients via software 
        platforms such as DAKWALA SMS. Bulk SMS can scale up to millions of recipients in the case of
         informational like Transactional or promotional SMS broadcasts. 				
       </p>
      </li>
    </ul>
    <div>
      <ul class="service-content">
        <li>
          <i class="fa fa-laptop"></i>
          <h4>Promotional SMS</h4>
          <ul>
            <li>Sender I'd of Six letter alphabets only</li>
            <li>Time limitation : 9 AM to 9 PM.</li>
            <li>No delivery on DND numbers.	</li>
            <li>Unlimited Validity.</li>
            <li>Quick delivery reports.</li>
            <li>Send SMS in English or any Indian regional languages.	</li>
            <li>Schedule your SMS for future Date & Time.</li>
          </ul>
        </li>
        <li>
          <i class="fa fa-signal"></i>
          <h4>Promotional  SMS (With sender id)</h4>
          <ul>
            <li>Sender I'd of Six letter alphabets only</li>
            <li>Time limitation : 9 AM to 9 PM.	</li>
            <li>Deliver on all DND numbers.	</li>
            <li>Unlimited Validity.</li>
            <li>Quick delivery reports.	</li>
            <li>Send SMS in English or any Indian regional languages.</li>
            <li>Schedule your SMS for future Date & Time.</li>
          </ul>
        </li>
        <li>
          <i class="fa fa-picture-o"></i>
          <h4>Transactional SMS</h4>
          <ul>
            <li>Sender I'd of Six letter alphabets only</li>
            <li>24x7 Delivery.</li>
            <li>SMS will deliver on DND numbers.</li>
            <li>Unlimited Validity.	</li>
            <li>Quick delivery reports.</li>
            <li>Send SMS in English or any Indian regional languages.</li>
            <li>Schedule your SMS for future Date & Time.	</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="pricing-table">
    <div class="pricing">
      <h1>Pricing</h1>
    </div>
    <div class="pricing">BEST RATES FOR BULK SMS PROMOTIONAL & TRANSACTIONAL (WITH SENDER ID)</div>
    <div>
      <table id="customers">
        <tr>
          <th rowspan="2">S.No.</th>
          <th rowspan="2">SMS</th>
          <th colspan="2" scope="colgroup">Normal Promotional</th>
          <th colspan="2" scope="colgroup">Premium  Promotional</th>
          <th colspan="2" scope="colgroup">Transactional SMS</th>
        </tr>
        <tr> 
          <th scope="col">Rate (Paisa)</th>
          <th scope="col">Amount</th>
          <th scope="col">Rate (Paisa)</th>
          <th scope="col">Amount</th>
          <th scope="col">Rate (Paisa)</th>
          <th scope="col">Amount</th>
        </tr>
        <tr>
          <td>1</td>
          <td>10000</td>
          <td>0.18</td>
          <td>1800</td>
          <td>0.20</td>
          <td>2000</td>
          <td>0.22</td>
          <td>2200</td>
        </tr>
        <tr>
          <td>2</td>
          <td>25000</td>
          <td>0.16</td>
          <td>4000</td>
          <td>0.18</td>
          <td>4500</td>
          <td>0.20</td>
          <td>5000</td>
        </tr>
        <tr>
          <td>3</td>
          <td>50000</td>
          <td>0.15</td>
          <td>7500</td>
          <td>0.17</td>
          <td>8500</td>
          <td>0.19</td>
          <td>9500</td>
        </tr>
        <tr>
          <td>4</td>
          <td>100000</td>
          <td>0.13</td>
          <td>13000</td>
          <td>0.15</td>
          <td>15000</td>
          <td>0.17</td>
          <td>17000</td>
        </tr>
      </table>
    </div>
  </div>
</section>
