
  
  
  /* Section banner Start */
  
  /* section {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  @media(max-width :1000px) {
    section {
      padding: 60px 40px;
    }
  }
  
  @media(max-width :600px) {
    section {
      padding: 50px 30px;
    }
  } */
  
  /* .banner-area {
    position: relative;
    min-height: 100vh;
    color: #fff;
    text-align: center;
  }

  .header-loading{
    display: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .banner-area .banner-img {
    background-image: url(../assets/sms_service.jpg) ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; */
    /* width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  /* .banner-area .banner-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #000;
    z-index: -1;
  } */

  /*
  .banner-area h1 {
    margin-bottom: 20px;
    font-size: 40px;
    z-index: 0;
  }
  
  .banner-area h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
  
  .header-loading  a {
    position: absolute;
    padding: 5px 10px;
    background: crimson;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 30px;
    z-index: 0;
    display: block;
    align-self: flex-end;
  }

  
  @media(max-width:800px) {
    .banner-area {
      min-height: 400px;
    }
  
    .banner-area h1 {
      font-size: 32px;
    }
  
    .banner-area h2 {
      font-size: 20px;
    }
  
    .banner-area a.banner-btn {
      padding: 15px 40px;
      font-size: 20px;
    }
  }

  @media(max-width:500px) {
    .banner-area .banner-img {
      width: 100%;
      height: 35vh;
      background-size: 100% 100%;
    }
    .banner-area {
      min-height: 250px;
    }
  }

  @media(max-width:600px) {
    .banner-area .banner-img {
      width: 100%;
      height: 50vh;
      background-size: 100% 100%;
    }
    .banner-area {
      min-height: 350px;
    }
  }
   */
  /* About area */
  

  
 
  
  
  